{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="jumbotron">
        <h1 class="display-4">Symfony app</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>
            The application has a sign up form a user and an admin panel for managing users.
        </p>
        <ul>
            <li>
                <a href="{{ path('signup') }}">Sign up page</a>
            </li>
            <li>
                <a href="{{ path ('user_index')}}">Manage users</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
