{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Sign up{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/signin.css') }}"/>
{% endblock %}

{% block body %}

<div class="example-wrapper">
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    <h2 class="form-signin-heading">Please enter your details</h2>
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary btn-block">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}